<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--数据库连接(一下所有配置文件从官网下载的hibernate->project->etc->hibernate.properties里面找)-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///mydb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!--方言(针对于不同的数据库有不同的方言就像一个翻译机：也从上面的地址找)-->
        <!--注意这个不要配置错了是它MySQLDialect，不是别的-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--c3p0数据库连接池（也从上面的地址找）-->
        <property name="c3p0.min_size">2</property>
        <property name="c3p0.max_size">6</property>
        <property name="c3p0.timeout">5000</property>
        <property name="c3p0.max_statements">100</property>
        <property name="c3p0.idle_test_period">3000</property>
        <property name="c3p0.acquire_increment">2</property>
        <property name="c3p0.validate">false</property>

        <!--其他配置-->
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>

        <!--（只要添加了对象映射就得加进来）添加映射文件-->
        <mapping resource="hbm/User.hbm.xml"/>
        <mapping resource="hbm/Dept.hbm.xml"/>
        <mapping resource="hbm/Employee.hbm.xml"/>
        <mapping resource="hbm/Card.hbm.xml"/>
        <mapping resource="hbm/Person.hbm.xml"/>
        <mapping resource="hbm/Topic.hbm.xml"/>
        <mapping resource="hbm/TopicContent.hbm.xml"/>
        <mapping resource="hbm/Student.hbm.xml"/>
        <mapping resource="hbm/Teacher.hbm.xml"/>

    </session-factory>
</hibernate-configuration>